
* {
  box-sizing: border-box;
}

@import './components.scss';
@import './responsive.scss';

html,
body {
  height: 100%;
}

body {
  font-family: 'Geologica','PT Root UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.images {
  display: flex;

  * {
    width: 24px;
    height: 24px;
    margin: 0 10px;
  }

  .image {
    &#bgPNG {
      background-image: url('images/image.png');
    }

    &#bgJPG {
      background-image: url('images/image.jpg');
    }

    &#bgSVG {
      background-image: url('images/image.svg');
    }
  }
}


body {
  width: 100%;
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: #FFFCF6;
}

footer {
    
  background: #2E3341;

  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  bottom: 0;
  width: 100%;
  left: 0;
  
  flex-direction: column;
  justify-content: center; 
  align-items: center
}



button{
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  padding: 8px 12px;
  background-color: #99DFA8;
  color: #2E3341; 
  border-width: 0px;
  border-radius: 40px;
  border-color:  #99DFA8;
  cursor: pointer;
}



header {
  
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  background-color: #f7f5f0;
  width: 100%;


}
  
nav ul {
    display: flex;
    list-style: none;
    gap: 100px;
    cursor: pointer;
    text-decoration: none;
}
nav{
  margin-left: 20%;
}
  


ol {
	list-style-type: none; 
	counter-reset: num;
	margin: 0 0 0 35px;
	padding: 15px 0 5px 0;
	font-size: 24px;
}
ol li {
	font-family: 'Geologica', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #2E3341;
	margin: 0 0 0 0;
	padding: 0 0 30px 0;
  list-style: decimal;
  list-style-position: outside;
  
}
li {
  
  display: list-item;
  list-style-position: inside;
}
ol li::marker {
	
	left: -60px;
	width: 50px;    
	color: #00AF64;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}


a, h1, h2, h3 {
  font-family: 'Geologica', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #2E3341; 
  text-decoration: none;
}
a:hover {
  color: #00AF64;
}

p {
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  color: #2E3341;
  line-height: 140%;
  
}

h1 { /* это большой заголовок */
  font-size: 80px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1000px;
}

h2 { /* цитаты */
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
  line-height: 50px;
  white-space: pre-line;
  padding-top: 30px;
  padding-bottom: 30px;
}

h3 { /* это лиды и подзаголовки */
  font-size: 30px;
  font-weight: 400;
}

h4 { /* маленькие */
  font-size: 20px;
  line-height: 140%;
  color: #00AF64; 
  font-weight: 400;
  padding-bottom: 20px;
}

blockquote {
  font-style: italic;
  color: #888;
  margin: 20px 0;
  padding-left: 20px;
  border-left: 5px solid #ccc;
}

span{
  color: #00AF64; 
}


