// атомики
@import './responsive.scss';
.a_textblockmain {
   
    padding-bottom: 20px;
}
.a_textblock{
  display: block;
  padding-bottom: 20px;
}
.a_headerlogo{
  position: absolute;
  margin-left: 50px;
  margin-top: 50px;
  position: fixed;
  z-index: 1;
}
.a_headerlogoimg{
  display: block;
  position: fixed;
}

.a_linkback{
  padding-bottom: 50px;
}
.a_linkchapter{
  padding-bottom: 50px;
  margin-top: 20px;
  padding-right: 60px;
  font-size: 24px;
}
.a_notechaptertext{
  font-size: 28px;
  font-style: italic;
  color: #2E3341;
  padding: 30px;
}
.a_filterbtn{
  font-size: 18px;
}
.a_chapterimg{
padding: 0%;
width: 100%;

}
.a_chapterimgsmall{
  padding: 0%;
  width: 46%;
  }
// молекулки
.m_picturesinline{
  display: inline;
  height: 100%;
}
.m_borderposter{
 
}
.m_filters{
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  
}
.footertext {
  color: #FFFCF6;
  
  font-weight: 400;
  font-size: 16px;
}

.footerinside{
  width: 100%;
  left: 0;
  margin: 0; 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center
}

.m_leadimg{
position: absolute;
z-index: -2;
}

.m_chapterlinks{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.m_postergrid{
  max-width: 360px;
  border: 2px solid #ddd;
    border-radius: 8px;

}
.m_postergridfilter{
  max-width: 360px;
  
  
}
.m_templategrid{
  max-width: 360px;
  border-color: rgb(57, 57, 57);
  border-width: 20px;
  transition: transform 0.2sease-in-out;
  &:hover {
    transform: scale(1.05);
  }
}
.m_posterpage{
  max-width: 600px;
}
.m_postergridimg{
  border-width: 2px;
  border-color: #2E3341;
}
.m_posterhide{
  position: absolute;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
  cursor: pointer;
  backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); 

}
.m_posterhide:hover  {
  opacity: 1;
}
.m_posternav{
  margin-bottom: 20px;
}
.m_notechapter{
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-content: center;
}

.template-buttons {
  display: flex;
    gap: 10px;
    margin-top: 10px;
    max-width: 360px;
    flex-direction: row;
    flex-wrap: wrap;

  .btn {
    padding: 8px 12px;
    background-color: #00AF64;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #086FA2;
    }
  }
}

.M_SearchBar {
  width: 247px;
  height: 30px;
  padding-left: 14px;
  border-radius: 40px;
  font-family: "InterLight", sans-serif;
  font-size: 12px;
  line-height: 115%;
  cursor: text;
}


.search-box {
  background: rgba(255, 0, 0, 0.1); // временно для отладки
  border: 2px dashed red;
  padding: 20px;
}

.search-box input {
  padding: 10px;
  width: 100%;
  font-size: 16px;
  border: 1px solid #ccc;
}


.search-input {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.search-dropdown {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  margin-top: 4px;
  z-index: 1000;
}

.search-item {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: black;
}

.search-item:hover {
  background-color: #f2f2f2;
}





// организмы

.o_pagetexts{
  padding-top: 230px;
}

.o_pagegrid{
  display: grid;
grid-template-columns: repeat(16, 1fr);
grid-template-rows: 100px 0.1fr 1fr;
grid-column-gap: 20px;
grid-row-gap: 0px;
margin-inline: 30px;
}
.o_maingrid{
  display: grid;
grid-template-columns: repeat(16, 1fr);
grid-template-rows: 100px 1fr 100px;
grid-column-gap: 20px;
grid-row-gap: 0px;
margin-inline: 30px;
}
.m_chaptertext {grid-area: 3 / 1 / 4 / 11; }
.m_chapternotes { grid-area: 3 / 11 / 4 / 17;  }
.m_chaptername { grid-area: 2 / 1 / 3 / 10; 
  margin-top: 40px; }

.m_mainsection { grid-area: 2 / 5 / 3 / 13; 
  margin-top: 40px; }

.m_chapterposter {grid-area: 3 / 6 / 4 / 12; }
.m_notesposter {grid-area: 3 / 1 / 4 / 6; }
.m_sideposter {grid-area: 3 / 12 / 4 / 17; }
.m_navbar { grid-area: 1 / 1 / 1 / 17; 
  display: flex;
  position: sticky;
  margin-left: -410px;
    margin-right: -40px;
    padding-left: 420px;
    padding-right: 812px;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #ccffd7;
  box-shadow: rgba(16, 105, 49, 0.1) 0 2px 5px;
}
.m_navbarlogo { grid-area: 1 / 1 / 2 / 2;

  margin-left: 0px;
  margin-top: 20px; }

.m_cardsrow {grid-area: 3 / 1 / 4 / 17; }





.o_postergrid{
  display: flex;
  flex-wrap: wrap;
  
  row-gap: 40px;
  column-gap: 30px;
  max-width: 1550px;
}

// суперорги

.so_page{
    margin-left: 20%;
    
}


.so_manualpage{
  display: flex;
  max-width: 100%;
  margin-left: 20%;
  gap: 12%;
}
.o_manualpageleft{
  width: 38%;
}
.o_manualpageright{
  width: 30%;
  margin-top: 0%;
}

.PosterLibrarygrid{
  display: flex;
  flex-wrap: wrap;
  
  row-gap: 40px;
  column-gap: 30px;
  max-width: 1550px;
}
.manual-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 20px;

    .manual-card {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        width: 330px;
        height: 260px;
        border-radius: 10px;
        overflow: hidden;
        transition: transform 0.2sease-in-out;
        justify-content: flex-end;

      &:hover {
        transform: scale(1.05);
      }
    
    }
   
      .manual-card-image {
        width: 100%;
        background-size: cover;
        background-position: center;
      }

      .manual-card-content {
        padding: 20px;
        padding: 20px;
    padding-top: 60px;
    padding-bottom: 50px;
        
        
        h3 {
          font-size: 24px;
          padding-bottom: 10px;
          margin: 0;
        }
        p {
          font-size: 16px;
          color: #38383C;
        }
      }
    }
  
    anual-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      padding-bottom: 20px;
  
      .manual-card-adaptive {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          width: 360px;
          height: 260px;
          border-radius: 10px;
          overflow: hidden;
          transition: transform 0.2sease-in-out;
          justify-content: flex-end;
  
        &:hover {
          transform: scale(1.05);
        }
      
      }
     
        .manual-card-image {
          width: 100%;
          background-size: cover;
          background-position: center;
        }
  
        .manual-card-content {
          padding: 20px;
          padding: 20px;
      padding-top: 60px;
      padding-bottom: 50px;
          
          
          h3 {
            font-size: 24px;
            padding-bottom: 10px;
            margin: 0;
          }
          p {
            font-size: 16px;
            color: #38383C;
          }
        }
      }
    
    


  .search-container {
    position: relative;
    width: 100%;
    max-width: 300px;
  }
  
  .search-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .search-results {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .search-results li a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
  
    &:hover {
      background: #f0f0f0;
    }
  }



.m_chaptertext {grid-area: 3 / 3 / 4 / 11; }
.m_chapternotes { grid-area: 3 / 11 / 4 / 15;  }
.m_chaptername { grid-area: 2 / 3 / 3 / 10;  }
.m_navbar { grid-area: 1 / 3 / 1 / 17; 
  display: flex;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
 
}
.m_mainsection { grid-area: 2 / 3 / 3 / 15; 
    margin-top: 40px; }
.m_navbarlogo { grid-area: 1 /3 / 2 / 2;

  margin-left: 0px;
  margin-top: 20px; }

.m_cardsrow {grid-area: 3 / 3 / 4 / 16; }

.a_textblockmain {
   max-width: 1000px;
}
