
@media (min-width: 1920px) and (max-width:  3000px){


.m_chaptertext {grid-area: 3 / 3 / 4 / 11; }
.m_chapternotes { grid-area: 3 / 11 / 4 / 15;  }
.m_chaptername { grid-area: 2 / 3 / 3 / 10;  }
.m_navbar { grid-area: 1 / 3 / 1 / 17; 
  display: flex;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #FFFCF6;
}
.m_mainsection { grid-area: 2 / 3 / 3 / 15; 
    margin-top: 40px; }
.m_navbarlogo { grid-area: 1 /3 / 2 / 2;

  margin-left: 0px;
  margin-top: 20px; }

.m_cardsrow {grid-area: 3 / 3 / 4 / 16; }
}
.a_textblockmain {
   max-width: 1000px;
}

  /* 
@media only screen and (min-device-width: 1920px) and (max-device-width: 3000px) {


.m_chaptertext {grid-area: 3 / 3 / 4 / 11; }
.m_chapternotes { grid-area: 3 / 11 / 4 / 15;  }
.m_chaptername { grid-area: 2 / 3 / 3 / 10;  }
.m_navbar { grid-area: 1 / 3 / 1 / 17; 
  display: flex;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #FFFCF6;
}
.m_navbarlogo { grid-area: 1 /3 / 2 / 2;

  margin-left: 0px;
  margin-top: 20px; }

.m_cardsrow {grid-area: 3 / 3 / 4 / 16; }
}
*/
@media only screen and (min-device-width: 1365px) and (max-device-width: 1440px) {}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
   
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1025px) {
      /* айпадики и маленикие компы*/
      /* мануал библиотека*/
    .a_navbar {
        margin-left: 10%;
    }
    nav{
        margin-left: 10%;
    }
    header{
        padding-top: 90px;
        position: fixed;
    }
   .so_page {
        margin-left: 10%;
    }
    .so_manualpage {
        display: flex;
        flex-direction: column-reverse;
    }
    .m_leadimg{
        width: 100%;
        margin-top: 6%;
    }
    .a_headerlogo {
        
        margin-top: 1.5%;
        margin-left: 47%;
    }
    .o_pagetexts {
        padding-top: 27%;
    }
    .o_pagetextsmain{
        padding-top: 2%;
    }
    .o_pagetextssmall{
        padding-top: 27%;
    }
    .o_manualpageleft {
        width: 80%;
    }

.o_manualpageright {
    width: 90%;
    
}
.a_headerlogoimg {
    
    width: 10%;
}
.a_linkchapter {
    padding-right: 6%;
}
.m_posterpage {
    max-width: 630px;
}

}

  /* @media only screen and (min-device-width: 600px) and (max-device-width: 768px) {}
    /* айпадики */ 

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
     /* телефончики */
     .o_pagegrid{
        display: grid;
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: 100px 0.1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 0px;
      margin-inline: 20px;
      }
      .o_maingrid{
        display: grid;
      grid-template-columns: repeat(16, 1fr);
      grid-template-rows: 100px 1fr 100px;
      grid-column-gap: 20px;
      grid-row-gap: 0px;
      margin-inline: 20px;
      }
     .m_chaptername {
        grid-area: 2 / 1 / 3 / 17;
        margin-top: 10px;
    }
    .m_cardsrow {
        grid-area: 3 / 1 / 4 / 17;
    }
    .m_mainsection {
        grid-area: 2 / 1 / 3 / 17;
        margin-top: 40px;
    }
    nav {
        margin-left: 0;
    }

    p {
        font-size: 18px;
       
        line-height: 130%;
        
      }
      
      h1 { /* это большой заголовок */
        font-size: 40px;
        padding-top: 0px;
      }
      
      h2 { /* цитаты */
        font-size: 28px;
        padding-top: 20px;
        padding-bottom: 0px;
      }
      a {
        font-size: 16px;
      }
      .m_navbarlogo {
        scale: 0.6;
        margin-top: 0px;
        margin-inline-start: -30px;
    }
    .m_navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-inline: -20px;
        padding-inline: 20px;
    }
    nav ul {
        display: flex;
        list-style: none;
         gap: 22px; 
        cursor: pointer;
        text-decoration: none;
    }
    .m_postergrid {
        max-width: 90vw;
    }

    .m_filters {
       
        display: flex;
        align-items: flex-start;
        gap: 10px;
        flex-direction: column;
    }
    .manual-cards {
        gap: 40px;
    }

    .manual-cards .manual-card {
        padding-top: 20px;
        width: 90vw;
        height: 207px;
    }
     .manual-card-content {
        padding-top: 20px; 
     }
     .manual-cards .manual-card .manual-card-content {
        padding: 20px;
        padding: 20px;
        padding-top: 22px;
        padding-bottom: 40px;
    }
    .manual-card-adaptive{
         gap: 10px;
    }
     /*
     nav {
        margin-left: 0%;
    }
    nav ul {
        display: flex
;
        justify-content: center;
    }
    .m_navbar {
        grid-area: 1 / 1 / 1 / 17;
        display: flex
;
        justify-content: center;
    }
    .m_navbarlogo {
        
        margin-left: 0px;
        margin-top: 0px;
    }
     .m_cardsrow {
        grid-area: 3 / 1 / 4 / 17;
    }
    .m_chaptername {
        grid-area: 2 / 1 / 3 / 17;
    }
    .m_postergrid {
        max-width: 440px;
       
    }
    .m_postergridfilter {
        max-width: 450px;
    }
     .manual-cards .manual-card {
        display: flex;
        flex-direction: column;
        width: 620px;
        height: 461px;
     }
     .manual-cards {
        display: flex
    ;
        flex-wrap: wrap;
        gap: 20px;
        padding-bottom: 20px;
        flex-direction: row;
        justify-content: space-between;
    }
     .manual-card-content {

        h3 {
          font-size: 20px;
          
        }
        p {
          font-size: 0.9rem;
         
        }
      }
      h3 {
        font-size: 20px;
        
      }
      header{
        padding-top: 90px;
    }
    .a_headerlogo {
        
        margin-top: 1.5%;
        margin-left: 47%;
    }
    .a_headerlogoimg {
    
        width: 10%;
    }
    .footerinside {
        width: 100%;
        left: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
    }
    .footertext {
        
        font-size: 26px;
    }
    .o_postergrid {
        display: flex;
        flex-direction: column;}
*/
    }  
