
@media (min-width: 1920px) and (max-width:  3000px){


.m_chaptertext {grid-area: 3 / 3 / 4 / 11; }
.m_chapternotes { grid-area: 3 / 11 / 4 / 15;  }
.m_chaptername { grid-area: 2 / 3 / 3 / 10;  }
.m_navbar { grid-area: 1 / 3 / 1 / 17; 
  display: flex;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #FFFCF6;
}
.m_mainsection { grid-area: 2 / 3 / 3 / 15; 
    margin-top: 40px; }
.m_navbarlogo { grid-area: 1 /3 / 2 / 2;

  margin-left: 0px;
  margin-top: 20px; }

.m_cardsrow {grid-area: 3 / 3 / 4 / 16; }
}
.a_textblockmain {
   max-width: 1000px;
}

  /* 
@media only screen and (min-device-width: 1920px) and (max-device-width: 3000px) {


.m_chaptertext {grid-area: 3 / 3 / 4 / 11; }
.m_chapternotes { grid-area: 3 / 11 / 4 / 15;  }
.m_chaptername { grid-area: 2 / 3 / 3 / 10;  }
.m_navbar { grid-area: 1 / 3 / 1 / 17; 
  display: flex;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  background-color: #FFFCF6;
}
.m_navbarlogo { grid-area: 1 /3 / 2 / 2;

  margin-left: 0px;
  margin-top: 20px; }

.m_cardsrow {grid-area: 3 / 3 / 4 / 16; }
}
*/
@media only screen and (min-device-width: 1365px) and (max-device-width: 1440px) {}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
   
}

@media only screen and (min-device-width: 769px) and (max-device-width: 1025px) {
      /* айпадики и маленикие компы*/
      /* мануал библиотека*/
    .a_navbar {
        margin-left: 10%;
    }
    nav{
        margin-left: 10%;
    }
    header{
        padding-top: 90px;
        position: fixed;
    }
   .so_page {
        margin-left: 10%;
    }
    .so_manualpage {
        display: flex;
        flex-direction: column-reverse;
    }
    .m_leadimg{
        width: 100%;
        margin-top: 6%;
    }
    .a_headerlogo {
        
        margin-top: 1.5%;
        margin-left: 47%;
    }
    .o_pagetexts {
        padding-top: 27%;
    }
    .o_pagetextsmain{
        padding-top: 2%;
    }
    .o_pagetextssmall{
        padding-top: 27%;
    }
    .o_manualpageleft {
        width: 80%;
    }

.o_manualpageright {
    width: 90%;
    
}
.a_headerlogoimg {
    
    width: 10%;
}
.a_linkchapter {
    padding-right: 6%;
}
.m_posterpage {
    max-width: 630px;
}


}

  /* @media only screen and (min-device-width: 600px) and (max-device-width: 768px) {}
    /* айпадики */ 

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
     /* телефончики */
     .manual-cards .manual-card {
        display: flex;
        flex-direction: column;
        width: 620px;
        height: 461px;
     }
     .manual-card-content {

        h3 {
          font-size: 20px;
          
        }
        p {
          font-size: 0.9rem;
         
        }
      }
      h3 {
        font-size: 20px;
        
      }
      header{
        padding-top: 90px;
    }
    .a_headerlogo {
        
        margin-top: 1.5%;
        margin-left: 47%;
    }
    .a_headerlogoimg {
    
        width: 10%;
    }
    .o_postergrid {
        display: flex;
        flex-direction: column;}

    }  